@font-face {
    src: url(./fonts/NetflixSans-Regular.otf);
    font-family: Netflix-font;
}

* {
    padding: 0;
    margin: 0;
    color: black;
}
body {
    background-color: black;
}
hr {
    border: 4px solid rgb(35,35,35);
}

.black-bg {
    background-color: black;
}
.white-color {
    color: white;
}
.blue-color {
    color: #0071eb;
}

.flex-col {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-row {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.background-img {
    height: 1000px;
    background-image: url("./images/netflix-cover-page-bg.jpg");
      /* Background image is centered vertically and horizontally at all times */
      background-position: center center;

      /* Background image doesn't tile */
      background-repeat: no-repeat;
  
      /* Background image is fixed in the viewport so that it doesn't move when
      the content's height is greater than the image's height */
      /* background-attachment: fixed; */
  
      /* This is what makes the background image rescale based
      on the container's size */
      background-size: cover;
}

.netflix-image {
    width: 9.25rem;
    height: 2rem;
}
.language-select-signin-div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.nav-bar {
    padding: 15px 130px 15px 130px;
    justify-content: space-between;
}

.lang-btn {
    background-color: black;
    color: white;
    outline: none;
    border: 0px;
    font-size: 16px;
    font-family: Netflix-font;
    font-weight: 400;
}
.language-select-icon {
    margin-right: 4px;
}


.signin {
    background-color: rgb(229, 9, 20);
    color: white;
    text-justify: bold;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    font-family: Netflix-font;
    border-radius: 6px;
    padding: 6px 8px;
}

.language-btn-div{ 
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 6px 10px;
    margin-right: 10px;
    border: 1px solid gray;
}


.signin:hover {
    background-color: rgb(163, 0, 0);
    transition: all .5s ease;
}

.email-box-div {
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.unlimited-movies {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    padding: 0px 8px;
    font-family: Netflix-font;
}
.watch {
    margin-top: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    padding: 0px 8px;
    font-family: Netflix-font;
}
.ready-to-watch {
    margin-top: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 10px;
    font-family: Netflix-font;
}


.email-address-div {
    margin-top: 16px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 6px 20px;
    margin-right: 10px;
    border: 1px solid gray;
    width: 350px;
    height: 50px;   
}
.input-bg{
    background-color: black;
    color: white;
    border: 0px solid transparent;
    font-family: Netflix-font;
    /* outline: none; */
    width: 350px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.input-bg:focus {
    outline: none;
}

.get-started-div {
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    font-family: Netflix-font;
    margin-top: 16px;
    border-radius: 6px;
    padding: 16px;
    width: 180px;
    background-color: rgb(229, 9, 20);
}

.get-started-div:hover {
    background-color: rgb(163, 0, 0);
    transition: all .5s ease;
}

.enjoy-tv {
    padding: 100px 180px 0px 180px;
}
.enjoy-tv-text {
    font-weight: 900;
    font-size: 48px;
    font-family: Netflix-font;
    /* text-align: center; */
    align-items: center;

}

.smart-tv-text {
    font-weight: 400;
    font-size: 30px;
    font-family: Netflix-font;
    margin-top: 20px;
    padding-bottom: 33px;
}
.enjoy-tv-text-1{
    padding-top: 0;
    margin-top: -200px;
}

 .tv-img {
    position: relative;
    z-index: 1;
}
.enjoy-on-your-tv-video {
    position: relative;
    bottom:385px;
    left: 84px;
    z-index: 0;
} 


.download-your-shows {
    font-weight: 900;
    font-size: 48px;
    font-family: Netflix-font;
    /* text-align: center; */
    align-items: center;
}
.save-your-fav {
    font-weight: 400;
    font-size: 30px;
    font-family: Netflix-font;
    margin-top: 20px;
    padding-bottom: 33px;
}

.download-fav-div {
    padding: 100px 180px 110px 180px;

}

.download-show-fav{
    padding-top: 0;
    margin-top: 200px;
}

.st-flex {
    /* background-color: white; */
    justify-content:center;
    align-items: center;
    width: 350px;
    margin-left: 140px;
    border: 1px solid gray;
    /* border: 1px solid red; */
    border-radius: 12px;
}

.sacred-games-video {
    z-index: 0;
    position: relative;
    bottom: 435px;
    left: 118px;
}

.faq-flex {
    justify-content: center;
    align-items: center;
}

.flex-row-faq-flex {
    background-color: rgb(45, 45, 45);
    padding: 20px;
    width: 1100px;
    margin: auto;
    margin-top: 10px;
    
}
.flex-row-faq-flex:hover {
    background-color: rgb(60, 60, 60);
    transition: all .5s ease;
}
.faq-ques  {
    /* justify-content: left; */
    flex-grow: 1;
    font-family: Netflix-font;
    font-weight: 400;
    font-size: 27px;
}
.footer-flex {
    justify-content: left;
}
.footer-each-item{
    padding: 10px;
    margin: 0px;
}
.flex-row-link-div {
    text-align: left;
    width: 700px;
}

table {
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 70px;
    border-spacing: 20px;
}

.links-item {
    text-decoration-thickness: 2px;
    color: rgba(255, 255, 255, 0.7);
    font-family: Netflix-font;
    font-weight: 400;
    font-size: 14px;
    margin-right: 120px;
}

/*  */
/* media auery */
/*  */
/* laptop */
@media (max-width:1200px ){
    .enjoy-tv-flex-dir {
        align-items: center;
        flex-direction: column;
        text-align: center;
        /* padding-top: 50px; */
    }
    .enjoy-tv-text-1 {
        margin-top: 100px;
    }
       
   .tv-img {
    position: relative;
    z-index: 1;
   }
   .enjoy-on-your-tv-video  {
    position: relative;
    bottom: 384px;
    left: 0px;
    z-index: 0;
   }
   .download-fav-flex {
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 0px;
   }
   
    .sacred-games-video {
          bottom: 437px;
          left: 0px;
    }
    .faq-flex {
        flex-direction: column;
    }
    .flex-row-faq-flex {
        flex-direction: column;
        width: auto;
        align-items: center;
        align-self: center;
        align-content: center;
    }
    .faq-text-div {
        text-align: center;
    }
}

/* tablet */
@media (max-width:650px) {
    .email-get-started-div{
        flex-direction: column;
        align-items: center;
    }
    .nav-bar {
        justify-content: space-around;
        padding: 10px;
    }
   .tv-img {
    width: 400px;
    position: relative;
    z-index: 1;
   }
   .enjoy-on-your-tv-video  {
    width: 289px;
    position: relative;
    bottom: 240px;
    left: -2px;
    z-index: 0;
   }
   .sacred-games-video {
    bottom: 274px;
    width: 250px;
    left: 0px;
   }
   .kids-img{
    width: 320px;
    margin: auto;
   }
}

/* phone */
@media (max-width:400px) {
    .email-address-div {
      padding: 6px 20px;
        width: 320px;
        height: 50px;
    }
    .input-bg{
        width: 320px;
        height: 50px;
     }
     .phone-st-img  {
        width: 400px;
     }
     .st-flex {
        width: 300px;
        margin: auto;
     }
    .sacred-games-video {
        bottom: 274px;
        width: 250px;
        left: 0px;
    }
    svg {
        transform: scale(0.8);
    }
    .language-select-signin-div {
        transform: scale(0.832);
    }
}


/* greater than laptop screen size */
@media (min-width:2900px) {
    
    .tv-img {
        width: 1000px;
        position: relative;
        z-index: 1;
    }
       .enjoy-on-your-tv-video  {
        width: 725px;
        position: relative;
        bottom: 596px;
        left: 134px;
        z-index: 0;
       }   
}
